[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[*.js]
indent_style = tab

[lib/**.js]
indent_style = mixed
trim_trailing_whitespace = false
