.c8rc.json
.editorconfig
.eslintrc.js
.gitattributes
.github
.gitmodules
.mocharc.js
.npmignore
.vscode
[Tt]ests/
*.cmake
*.log
*.log
*.sln
*.test.*
*.tgz
*.tmp
*.vcxproj*
CHANGELOG.md
CMakeCache.txt
CMakeFiles/
CMakeLists.txt
CMakePresets.json
coverage/
CTest*
Makefile
SECURITY.md
src/
tsconfig.json
tslint.json
