name: Publish Package to npmjs
on:
  release:
    types: [published]
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: install corepack
        run: |
          npm install -g corepack@latest --force
          corepack enable
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm
      - run: pnpm install
      - run: npm run test
      - run: npm pkg delete devDependencies scripts packageManager pnpm
      - run: npm publish --access public --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
